body {
  font-family: "Comfortaa", cursive;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: black;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  max-height: 800px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 7px;
  height: 100px;
  width: 100px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

#temperature {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 12px;
}
